<div class="container">
    <div id="" class="">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h1>About</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <p>This app fetches a list of locations through REST API from
                <a href="//www.mlab.com" target="_blank" rel="noreferrer">mlab</a>. Then the result will be rendered by Angular.js. A search filtering the content is supported.</p>
            <div>Some Angular.js modules used:
                <ul>
                    <li>ui-router</li>
                    <li>components</li>
                    <li>$resource</li>
                    <li>ngAnimate</li>
                </ul>
            </div>

            <div>
                Build tools & package management:
                <ul>
                    <li>Gulp</li>
                    <li>Bower</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="" class="">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h1>Technology Specification</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Technology Stack</th>
                        <td>MongoDB, Express, Angular.js, Node.js 8, Bootstrap</td>
                    </tr>
                    <tr>
                        <th scope="row">Deployed On</th>
                        <td>Heroku</td>
                    </tr>
                    <tr>
                        <th scope="row">Reference</th>
                        <td>
                            <a href="//loc8r.herokuapp.com" target="_blank" rel="noreferrer">Loc8r</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>