<div class="container">
    <div id="" class="">
        <div class="row">
        <div class="col-md-8 col-sm-12">
            <h1>About</h1>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12">
        <p>This app fetches a list of locations through REST API from <a href="//www.mlab.com" target="_blank" rel="noreferrer">mlab</a>. Then the result will be rendered by Angular.js. A search filtering the content is supported.</p>
        <p>Even though today Angular.js is no longer the trend, this app is to familiarise myself with typical usage of Angular.js in case I need to maintain old projects. It uses ui-router, components, $resource and services for Angular.js and Gulp & Bower for build tool & package management. Feel free to review the code structure.</p>
        </div>
    </div>
    <div id="" class="">
        <div class="row">
        <div class="col-md-8 col-sm-12">
            <h1>Technology Specification</h1>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12">
        <table class="table table-hover">
            <tbody>
            <tr>
                <th scope="row">Technology Stack</th>
                <td>MongoDB, Express, Angular.js, Node.js 8, Bootstrap</td>
            </tr>
            <tr>
                <th scope="row">Deployed On</th>
                <td>Heroku</td>
            </tr>
            <tr>
                <th scope="row">Reference</th>
                <td><a href="//loc8r.herokuapp.com" target="_blank" rel="noreferrer">Loc8r</a></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>