<div ng-if="detailCtrl.location">
  <div class="container">
    <div class="row page-header">
      <div class="col-lg-12 d-flex hidden-wrapper align-items-center">
        <h1>{{detailCtrl.location.name}}</h1>
        <i role="button" class="ml-auto opacity-8 hidden fa fa-close" ng-click="detailCtrl.onDelete()"></i>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div class="row mb-3">
          <div class="col-xs-12 col-sm-6">
            <p class="rating">
              <i class="fa fa-star" ng-repeat="i in detailCtrl.getNumber(detailCtrl.location.rating) track by $index"></i>
              <i class="fa fa-star-o" ng-repeat="i in detailCtrl.getNumberReverse(detailCtrl.location.rating) track by $index"></i>
              {{detailCtrl.location.rating | number: 2}}/5
            </p>
            <p>{{detailCtrl.location.address}}</p>
            <div class="block-info">
              <h4 class="black-80">Opening hours</h4>

              <p ng-repeat="time in detailCtrl.location.openingTimes" class="black-65">
                {{ time.days }} : {{ time.closed ? "closed" : time.opening + " - " + time.closing }}
              </p>
            </div>

            <div class="block-info">
              <h4 class="">Facilities</h4>
              <span class="label label-info" ng-repeat="facility in detailCtrl.location.facilities track by $index">
                <i class="fa fa-check"></i>&nbsp;{{facility}}</span>
              </span>
            </div>
            <!-- Facilities -->

          </div>
          <div class="col-xs-12 col-sm-6 location-map">
            <div class="block-info">
              <h4 class="">Environment</h4>
              <img src="/images/food.jpg" alt="" class="img-responsive img-rounded">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="block-info review-panel-container">
              <h4>Leave a review</h4>
              <!-- Click to open review panel -->
              <div ng-if="!detailCtrl.showReviewPanel" class="review-panel-toggle">
                <div class="input-group mb-2">
                  <span class="input-group-addon bg-white">
                    <i class="fa fa-pencil"></i>
                  </span>
                  <div class="form-control" ng-click="detailCtrl.toggleReviewPanel()">Help others know more about {{detailCtrl.location.name}}...</div>
                </div>
              </div>
              <!-- Review panel -->
              <div ng-if="detailCtrl.showReviewPanel" class="review-panel">
                <p class="error text-right" role="button" ng-click="detailCtrl.toggleReviewPanel()">cancel</p>
                <ng-form class="form-horizontal">
                  <div class="form-group">
                    <label for="author" class="col-sm-2 control-label">Author</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="author" ng-model="detailCtrl.review.author" placeholder="your name" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="review" class="col-sm-2 control-label">Review</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="review" ng-model="detailCtrl.review.reviewText" placeholder="write your review here" rows="6"
                        required></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="rating" class="col-sm-2 control-label">Rating</label>
                    <div class="col-sm-10">
                      <select class="form-control" ng-model="detailCtrl.review.rating" name="rating" id="rating" ng-options="item for item in detailCtrl.ratings"
                        required>
                        <option value="">-- choose rating --</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-success" ng-click="detailCtrl.onAddReview()">Submit</button>
                    </div>
                  </div>
                </ng-form>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-xs-12">
              <h3 class="bg-primary m-0 p-2 border-radius-top-3">Customer reviews</h3>
              <!-- if no reviews -->
              <div class="row m-0" ng-if="!detailCtrl.location.reviews.length">
                <div class="col-sm-12 pt-1 bg-info">
                  <i class="empty-review m-0 pl-2 pb-1">Be the first to review this location!</i class="empty-review">
                </div>
              </div>
              <!-- if has reviews-->
              <div class="row bg-info m-0 review-item border-radius-bottom-3" ng-repeat="review in detailCtrl.location.reviews">
                <div class="col-xs-12 pt-2 px-2">
                  <div class="bg-white black-80 p-1 border-radius-3">
                    <div class="mb-1 d-flex hidden-wrapper">
                      <span class="rating">
                        <i class="fa fa-star" ng-repeat="i in detailCtrl.getNumber(review.rating) track by $index"></i>
                        <i class="fa fa-star-o" ng-repeat="i in detailCtrl.getNumberReverse(review.rating) track by $index"></i>
                      </span>
                      <span class="reviewAuthor">{{ review.author }}</span>
                      <small class="reviewTimestamp">{{ review.createdOn | date: 'hh:mm dd/MMM/yyyy' }}</small>
                      <i role="button" class="ml-auto opacity-8 hidden fa fa-close" ng-click="detailCtrl.onDeleteReview(review._id)"></i>
                    </div>
                    <p class="m-0">{{ review.reviewText }}</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <p class="lead">{{ detailCtrl.location.name }} is on Loc8r because it has accessible wifi and space to sit down with your laptop.</p>
        <p>Leave a review to help other people just like you.</p>
      </div>
    </div>
    <!-- .row Page Body -->
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-default" ng-click="detailCtrl.onGoBack()">Back</button>
      </div>
    </div>
  </div>
  <!-- .container -->
</div>

<loading ng-if="!detailCtrl.location || detailCtrl.loading"></loading>