<div ng-if="detailCtrl.location">
  <div class="container">
    <div class="row page-header">
      <div class="col-lg-12 d-flex hidden-wrapper align-items-center">
        <h1>{{detailCtrl.location.name}}</h1>
        <i role="button" class="ml-auto opacity-8 hidden fa fa-close" ng-click="detailCtrl.onDelete()"></i>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div class="row mb-3">
          <div class="col-xs-12 col-sm-6">
            <p class="rating">
              <i class="fa fa-star" ng-repeat="i in detailCtrl.getNumber(detailCtrl.location.rating) track by $index"></i>
              <i class="fa fa-star-o" ng-repeat="i in detailCtrl.getNumberReverse(detailCtrl.location.rating) track by $index"></i>
            </p>
            <p>{{detailCtrl.location.address}}</p>
            <div class="bg-white border-grey-20 px-3 mb-3">
              <h4 class="black-80">Opening hours</h4>

              <p ng-repeat="time in detailCtrl.location.openingTimes" class="black-65">
                {{ time.days }} : {{ time.closed ? "closed" : time.opening + " - " + time.closing }}
              </p>
            </div>

            <div class="bg-white border-grey-20 px-3 pb-2 mb-3">
              <h4 class="">Facilities</h4>
              <span class="label label-info" ng-repeat="facility in detailCtrl.location.facilities track by $index">
                <i class="fa fa-check"></i>&nbsp;{{facility}}</span>
              </span>
            </div>
            <!-- Facilities -->

          </div>
          <div class="col-xs-12 col-sm-6 location-map">
            <div class="bg-white border-grey-20 px-3 pb-2">
              <h4 class="">Map</h4>
              <img ng-src="{{detailCtrl.imageUrl}}" alt="" class="img-responsive img-rounded">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="">Write your review...</label>
              <input class="form-control" type="text"></input>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="bg-white border-grey-20 mb-3">

              <h4 class="pl-2">Customer reviews</h4>

              <!-- if no reviews -->
              <div class="row" ng-if="!detailCtrl.location.reviews.length">
                <div class="col-sm-12">
                  <i class="empty-review m-0 pl-2 pb-1">Be the first to review this location!</i class="empty-review">
                </div>
              </div>

              <!-- if has reviews-->
              <div class="row" ng-repeat="review in detailCtrl.location.reviews">
                <div class="col-xs-12">
                  <div class="mb-1 p-2 d-flex hidden-wrapper">
                    <span class="rating">
                      <i class="fa fa-star" ng-repeat="i in detailCtrl.getNumber(review.rating) track by $index"></i>
                      <i class="fa fa-star-o" ng-repeat="i in detailCtrl.getNumberReverse(review.rating) track by $index"></i>
                    </span>
                    <span class="reviewAuthor">{{ review.author }}</span>
                    <small class="reviewTimestamp">{{ review.createdOn | date: 'hh:mm dd/MMM/yyyy' }}</small>
                    <i role="button" class="ml-auto opacity-8 hidden fa fa-close" ng-click="detailCtrl.onDeleteReview(review._id)"></i>
                  </div>
                  <div class="col-xs-12">
                    <p>{{ review.reviewText }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <p class="lead">{{ detailCtrl.location.name }} is on Loc8r because it has accessible wifi and space to sit down with your laptop
          and get some work done.</p>
        <p>If you've been and you like it - or if you don't - please leave a review to help other people just like you.</p>
      </div>
    </div>
    <!-- .row Page Body -->
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-default" ng-click="detailCtrl.onGoBack()">Back</button>
      </div>
    </div>
  </div>
  <!-- .container -->
</div>

<loading ng-if="!detailCtrl.location || detailCtrl.loading"></loading>