<section class="container-fluid mb-5" id="banner">
  <div class="row fill-60-viewport flex align-items-center">
    <div class="col-xs-12">
      <div class="flex justify-content-center">
        <div id="title-block">
          <span class="text-center">LOC</span>
        </div>
      </div>
      <h2 class="text-center my-5">Share your favourite locations with others!</h2>
      <div class="input-group mx-auto max-width-580">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" ng-model="listCtrl.searchText" placeholder='try "burger", "beer", or "coffee"?'>
      </div>
    </div>

  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="error">
        {{ listCtrl.message }}
      </div>
      <div class="row list-group">
        <div class="col-xs-12 list-group-item" ng-repeat="location in locations = (listCtrl.locations.data | filter: listCtrl.searchText)">
          <h4>
            <a ui-sref="locationDetail({location: location, locationId: location._id})">{{location.name}}</a>
            &nbsp;
            <!-- outputRating -->
            <i class="fa fa-star" ng-repeat="i in listCtrl.getNumber(location.rating) track by $index"></i>
            <i class="fa fa-star-o" ng-repeat="i in listCtrl.getNumberReverse(location.rating) track by $index"></i>

            <span class="badge badge-info pull-right">{{ location.distance/1000 | number:2.2 }} km</span>
          </h4>
          <p class="address">{{ location.address }}</p>
          <p>
            <span ng-repeat="facility in location.facilities track by $index">
              <span class="label">{{ facility }}</span>
            </span>

          </p>
        </div>
        <p class="lead" ng-hide="listCtrl.locations.data.length || listCtrl.message">No results matching the criteria.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="bg-white p-3 border-grey-20">
          <p class="lead black-80">Looking for somewhere to go? Find everything here at Loc8r!</p>
          <p>
            <i>If you find a nice place to share,</i>
          </p>
          <a ui-sref="locationCreate" class="btn btn-primary btn-block">Add it!</a>
      </div>
      
    </div>
  </div>
</div>