<div class="row">
	<div class="col-xs-12 col-sm-8">
		<div class="error">
    {{ listCtrl.message }}  
    </div>
		<div class="row list-group">
			<div class="col-xs-12 list-group-item" ng-repeat="location in locations = (listCtrl.locations | filter: listCtrl.searchText)">
				<h4>
					<a href="/location/{{location._id}}">{{location.name}}</a>
					&nbsp;
					<!-- outputRating -->
					<span class="glyphicon glyphicon-star" ng-repeat="i in location.stars"></span><!-- 
					 --><span class="glyphicon glyphicon-star-empty" ng-repeat="i in location.empty_stars"></span>

					<span class="badge badge-info pull-right">{{ location.distance/1000 | number:2.2 }} km</span>
				</h4>
				<p class="address">{{ location.address }}</p>
				<p>
					<span ng-repeat="facility in location.facilities">
						<span class="label label-info">{{ facility }}</span>
					</span>
					
				</p>
			</div>
			<p class="lead" ng-hide="locations.length && !listCtrl.message.length">No results matching the criteria.</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<p class="lead">
			Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pink? Let Loc8r help you find the place you're looking for.
		</p>
	</div>
</div>