body
  // padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  min-height: 100vh
  // background-color: dodgerblue
  background-color: #222222

h1
  color: white;

  small
    color: #dddddd

p
  color: #dddddd

p.address
  color: black;

a
  color: #0ce3a4
  
  a
    color: #00B7FF


  .review
    padding-bottom: 5px

  .panel-body.review-container
    padding-top: 0

  .review-header
    margin-bottom: 10px

  .reviewAuthor
    margin: 0 5px
  
  .reviewTimestamp
    color: #ccc

.navbar-default
  background: #375a7f

  ul
    font-size: 20px

  .navbar-brand
    font-size: 24px
    color: white


  .navbar-nav>li>a
    color: white