extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1 About
  .row
    .col-md-6.col-sm-12
      p This app will fetch a location list with a specific range (say, 10km) using REST API from 
        a(href="//www.mlab.com" target="_blank" rel="noreferrer") mlab
        |. Then the result will be displayed by Angular.js. A search filtering the content is supported.

      p It is mockup app following the tutorial from 
        a(href="https://www.amazon.com/Getting-MEAN-Mongo-Express-Angular/dp/1617292036/ref=sr_1_1?ie=UTF8&qid=1504103749&sr=8-1&keywords=mean+stack" target="_blank" rel="noreferrer") this book
        , while having some custom styling of the page, writing Angular.js 1.5 in my style, and fixing bugs due to API changes.